<div class="login-wrapper">
  <div class="login-card">

    <!-- Logo -->
    <div class="logo-section">
      <img src="assets/liceo-logo.png" class="logo" />
      <h1>LICEO DE CAGAYAN<br>UNIVERSITY</h1>
    </div>

    <h2 class="sign-in-text">SIGN IN YOUR ACCOUNT</h2>

    <!-- FORM -->
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">

      <input 
        type="email"
        placeholder="@liceo.edu.ph"
        formControlName="email"
        class="input-field"
      />

      <input 
        type="password"
        placeholder="Password"
        formControlName="password"
        class="input-field"
      />

      <div class="button-row">
        <button type="submit" class="login-btn" [disabled]="!loginForm.valid">
          LOGIN
        </button>

        <button type="button" (click)="onCreateAccount()" class="create-btn">
          create an account
        </button>
      </div>

      <a routerLink="/forgot-password" class="forgot">
        Forgot password?
      </a>

    </form>

    <div class="footer-title">
      CAMPUS EVENT<br>FINDER
    </div>

  </div>
</div>